html {
    background-color: white;
}
body,.pad{
	margin: 0.5em;
	padding: 0.5em;
}
p, .control{
	margin: 0.5em 4em;
}
.flex {
    display: flex;
	flex-wrap: wrap;
}
.flex-justify{
	justify-content: space-evenly;
	align-items: center;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.flex-vertical{
	flex-direction: column;
}
.flex-grow{
	flex-grow: 1;
}
.border {
	border: 2px solid black;
}
